html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.video-box {
  position: absolute;
  top: 0;
}
.photo-overlay,
.barcode-overlay {
  position: absolute;
  z-index: 1;
}

.take-photo-btn {
  display: none;
  position: absolute;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  border: 2px solid #fff;
  outline: none;
  z-index: 2;
}

.take-photo-btn--portrait {
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
}

.take-photo-btn--landscape {
  right: 10%;
  top: calc(50% - 25px);
}

.take-photo-btn--shown {
  display: block;
}
